/* This css style sheet is a mix of the R Markdown template,
 the rmdformats package and my own style */

/* ===================================================== */

/* ========  Colors ========  */


/*
Darkred: #b70000
Red:   #E2001A
Lightred: #F07F8C
Bluegrey: #3B515B
Blue:  #0271BB
Lightblue: #80B8DD
Grey:  #B6BFC3
*/


/* =============== Embed Fonts locally =============== */

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/roboto-v20-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('./fonts/roboto-v20-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-100.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('./fonts/roboto-v20-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
       url('./fonts/roboto-v20-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('./fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/roboto-v20-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('./fonts/roboto-v20-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('./fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/roboto-v20-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('./fonts/roboto-v20-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('./fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/roboto-v20-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('./fonts/roboto-v20-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('./fonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('./fonts/roboto-v20-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
       url('./fonts/roboto-v20-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* =============== General style =============== */

html {
  font-size: 16px;  /* so that rems refer to 16px in root*/
}

body {
  margin: 0;
  padding-bottom: 40px; /* padding for bootstrap navbar */
}

.h1,
.h2,
.h3,
.h4,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', Helvetica, Arial, 'sans-serif';
    font-weight: 300
}

h5,
h6 {
    font-weight: 400
}

p {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


code {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04);
}

.html-widget {
  margin-bottom: 20px;
}

summary {
  display: list-item;
}


/* =============== Header & Container =============== */


.header-panel {
  background-color: #0271BB;
  height: 75px;
  margin-bottom: 1rem;
}

.main-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {

  .main-container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

}


/* =============== Title =============== */

h1.title {
    font-size: 36px;
    margin-bottom: 1rem;
    border: none;
}

h1, h2, h3 {
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    padding-bottom: 9px;
    margin: 40px 0px 20px;
    border-bottom: 1px solid #EEE;
    font-size: 36px;
}

h2 {
    font-size: 30px;
    margin: 30px 0px 15px 0px !important;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}



/* =============== Tables =============== */

.table {
    margin: 25px 0px 35px 20px;
    width: auto !important;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #CCC;
    box-shadow: 0 0 0.5em #ddd;
}

.table thead>tr {
    background: #eaeaea;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}

.table thead>tr>th {
    padding: 3px 15px !important;
}

.table tbody>tr>td {
    padding: 3px 15px !important;
}

.table tbody tr.even {
    background: #f5f5f5;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}

.table tr.odd {
    background: #FFF;
}

.table tbody tr:hover {
    background: #e9f0fb;
    transition: all 0.1s ease-in-out;
}

.tab-content .table {
    margin-top: 0px;
}

/* Data tables */

.datatables {
  margin: 2em 0em;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
  font-size: 80%;
}



/* =============== Tabesets =============== */

/* Regular tabs */

.tabbed-pane {
  padding-top: 12px;
}

.tabset-dropdown > .nav-tabs {
  display: inline-table;
  max-height: 500px;
  min-height: 44px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tabset-dropdown > .nav-tabs > li.active:before {
  content: "";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open > li.active:before {
  content: "&#xe258;";
  border: none;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open:before {
  content: "";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.tabset-dropdown > .nav-tabs > li.active {
  display: block;
}

.tabset-dropdown > .nav-tabs > li > a,
.tabset-dropdown > .nav-tabs > li > a:focus,
.tabset-dropdown > .nav-tabs > li > a:hover {
  border: none;
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open > li {
  display: block;
  float: none;
}

.tabset-dropdown > .nav-tabs > li {
  display: none;
}

/* Pilltabs */

.pages ul.nav {
    margin-top: 2em;
    margin-bottom: 1em;
}

.nav-pills {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.nav-pills > li > a {
    padding: 3px 12px !important;
    margin-right: 5px !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: #0271BB;
}

/* Chi-squared results */
.chisq-results {
    font-size: 85%;
    font-style: italic;
    margin-top: -1em;
    margin-bottom: 1em;
}


/* =============== Buttons =============== */

/* .code-folding-btn {
  margin-bottom: 4px;
}
button.code-folding-btn:focus {
  outline: none;
} */

div.sourceCode .row,
div.sourceCode .row div {
    padding: 0;
    margin: 0;
    overflow-y: visible;
}

.btn-group {
    margin-top: 0.5em;
}

.pagedtable-index-current {
  font-weight: bold;
}





/* =============== Images & Figures =============== */

.figure {
    margin: 5px 10px 30px 0px;
    display: table;
}

.figure img {
    margin-bottom: 5px;
}

.figure p.caption {
    text-align: center;
    font-style: italic;
    font-size: 90%;
}

.mfp-figure {
  min-width: 250px;
}

.img-logo {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 65px;
}

img {
    margin: 5px 10px 50px 10px;
    max-width:100%;
    height: auto;
}

table img {
    margin: 3px;
}

img.image-thumb {
    max-width: 250px;
    border: 1px solid #CCC;
    padding: 2px;
}


/* =============== Table of contents=============== */

/* Source : http://projects.jga.me/toc/ */

#toc {
    height: auto;
    width: 12%;
    position: fixed;
    background: #FFF;
    padding: 20px 5px 20px 5px;
    color: #777;
    font-size: 110%;
    border-left: 1px solid #999; border:
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    margin: 0 0 2px 0;
    padding: 0;
}

#toc a {
    color: #999;
    text-decoration: none;
    display: block;
    padding: 3px 5px 3px 20px;
}

#toc ul ul li a {
    padding: 0px 5px 0px 40px;
    font-size: 90%;
}

#toc .active > a, #toc a:hover {
    color: #b70000;
    border-left: 2px solid #b70000;
    margin-left: -2px;
    background-color: #FFF;
}

#toc ul.nav li ul li {
    display: none;
}

#toc ul.nav li ul li ul li {
    display: none;
}

#toc ul.nav li.active ul li {
    display: inline;
}

#toc ul.nav li.active ul li ul li {
    display: inline;
}

#toc .close {
    margin-right: -20px;
    display: block;
    z-index: 1000;
}
