/* This css style sheet is a mix of the R Markdown template,
 the rmdformats package and my own style */

/* ===================================================== */

/* ========  Colors ========  */


/*
Red:   #b70000
Dark-Blue: #014979
Blue:  #027BCB
Bright-Blue: #3495d5
Grey:  #dedede
*/


/* =============== Embed Fonts locally =============== */

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/roboto-v20-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('./fonts/roboto-v20-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-100.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('./fonts/roboto-v20-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
       url('./fonts/roboto-v20-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('./fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/roboto-v20-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('./fonts/roboto-v20-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('./fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/roboto-v20-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('./fonts/roboto-v20-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('./fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/roboto-v20-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('./fonts/roboto-v20-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('./fonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('./fonts/roboto-v20-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
       url('./fonts/roboto-v20-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* =============== General style =============== */

.h1,
.h2,
.h3,
.h4,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300
}

h5,
h6 {
    font-weight: 400
}


* {
    box-sizing: border-box;
}

a {
  color: #027BCB;
  border-bottom: none;
}

a:hover {
  color: black
}

.opensource {
    color: rgba(0, 0, 0, 0.62);
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 100;
}

#source-modal h4 {
    color: black;
}


/* Remove shadow of individual cards */
body .container-fluid .well {
  box-shadow: none;
}



/* Espacements */

table {
    margin: 2em 0 2em 0;
}

.page h1 {
    margin-bottom: 1em;
}

h2, h3, h4 {
    margin: 1em 0 0.5em 0;
}


/* =============== Header =============== */

.header-panel {
    background-color: #b70000;
    min-height: 100px;
    position: relative;
    z-index: 3;
}

.header-panel #header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    min-height: 100px;
    margin-bottom: 10px;
}

.header-panel h1 {
    color: #FFF;
    font-size: 28px;
}

.header-panel h4 {
    font-size: 16px;
    color: #FFF;
    margin: 5px 0px;
}

.header-panel h4.author {
    font-size: 18px;
}

.header-panel h4.date {
  font-size: 14px;
  font-style: italic;
}



/* Settings for logo and code button in header */

#logo {
  position: relative;
  width: 75%;
}

#btn-code-logo {
  width: 25%;
}

.img-logo {
  display: block;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 75px;
}


@media (max-width: 1200px) {

  #logo {
    width: 100%;
  }

  #btn-code-logo {
    width: 100%;
  }

}



/* =============== Menu =============== */

.menu {
    overflow: auto;
    padding: 0;
}

.menu, .menu * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.menu ul {
    padding: 0;
    margin: 7px 0;
}

.menu ul li {
    list-style: none;
    padding: 20px 0 20px 50px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.menu ul li.active {
    background-color: #dedede;
    position: relative;
}

.menu ul li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}


/* =============== Pages =============== */
.pages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 0;
    overflow: auto;
    height: 100%;
}

.pages > div {
    padding: 0 5px;
    padding-top: 16px;
    margin: 0;
}

.pages h1 {
    color: #014979;
}

.page {
    transform: translateY(1080px);
    transition: transform 0 linear;
    visibility: hidden;
    opacity: 0;
    font-size: 16px;
    margin-left: 1em;
}

.page.active {
    transform: translateY(0px);
    transition: all 0.3s ease-out;
    visibility: visible;
    opacity: 1;
}


/* =============== Source code =============== */


div.sourceCode {
    overflow-x: hidden !important;
}

pre.sourceCode {
    overflow-x: auto !important;
}

pre > code {
    white-space: pre !important;
}



/* =============== ToC =============== */

#toc .nav>li.active>a:focus,
#toc .nav>li.active>a:hover {
    background-color: #dedede;
}

/* Changing the list items in ToC */
.nav .withripple {
  padding-left: 25px;
}


/* =============== Tabs =============== */

.pages ul.nav {
    margin-top: 2em;
    margin-bottom: 1em;
}

.pages .nav-tabs {
    background: #027BCB;
}

.pages .nav-tabs>li {
    margin-bottom: 0px !important;
}

.pages .nav-tabs>li>a {
    font-weight: 400 !important;
}

.pages .nav-tabs>li.active>a {
    background-color: #3495d5 !important;
}

/* Pilltabs */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: #027BCB;
}

/* Chi-squared results */
.chisq-results {
    font-size: 85%;
    font-style: italic;
    margin-top: -1em;
    margin-bottom: 1em;
}



/* =============== Images & Figures =============== */

.pages img.image-lb {
  cursor: pointer;
  max-width: 100%;
}

img.image-thumb {
    max-width: 250px;
}


.figure {
    margin: 1em 0 2em 0;
    display: table;
}

.figure .panel-footer {
    padding: 5px 8px;
}

.figure p.caption {
    margin: 0px;
    padding: 0px;
    font-size: 80%;
    font-style: italic;
}


/* =============== Tables =============== */

.table {
    width: auto !important;
    overflow-x: auto;
}

.table th,
.table td {
  padding: 8px 15px;
}

table .figure {
  margin: 3px;
}

table .panel-body {
  padding: 3px;
}


/* Data tables */

.datatables {
  margin: 2em 0em;
}

.datatables label {
  color: #333;
  font-size: 90%;
  font-weight: 300;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
  font-size: 80%;
}



/* =============== Buttons =============== */

/* place code button centered */
.btn-code {
  float:right;
}

.btn-toolbar {
  position: relative;
  right: 2px;
  margin-left: auto;
}
.btn-toolbar .btn-group {
  float: right;
  padding-top: 25px;
}



/* =============== mpf =============== */

.mfp-figure {
  min-width: 250px;
}

/* Move from top effect */
/* Source : https://codepen.io/dimsemenov/pen/GAIkt */

.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateY(50px);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}



/* =============== tabsets-dropdown =============== */



<style type="text/css">
  .tabset-dropdown > .nav-tabs {
display: inline-table;
max-height: 500px;
min-height: 44px;
overflow-y: auto;
background: white;
border: 1px solid #ddd;
border-radius: 4px;
  }

  .tabset-dropdown > .nav-tabs > li.active:before {
content: "";
font-family: 'Glyphicons Halflings';
display: inline-block;
padding: 10px;
border-right: 1px solid #ddd;
  }

  .tabset-dropdown > .nav-tabs.nav-tabs-open > li.active:before {
content: "&#xe258;";
border: none;
  }

  .tabset-dropdown > .nav-tabs.nav-tabs-open:before {
content: "";
font-family: 'Glyphicons Halflings';
display: inline-block;
padding: 10px;
border-right: 1px solid #ddd;
  }

  .pages .tabset-dropdown > .nav-tabs > li.active {
display: block;
  }

  .pages .tabset-dropdown > .nav-tabs > li.active > a {
background-color: transparent !important;
color: #000000 !important;
  }

  .tabset-dropdown > .nav-tabs > li > a,
  .tabset-dropdown > .nav-tabs > li > a:focus,
  .tabset-dropdown > .nav-tabs > li > a:hover {
border: none;
display: inline-block;
border-radius: 4px;
background-color: transparent;
color: #00A698 !important;
font-weight: 300 !important;
font-size: 14px;
  }

  .tabset-dropdown > .nav-tabs.nav-tabs-open > li {
display: block;
float: none;
  }

  .tabset-dropdown > .nav-tabs > li {
display: none;
  }
